BODY{
	font-family:Verdana, Geneva, sans-serif;	
}

.divMasterClass{
 
	width:50%;
	max-width:500px;
	min-width:260px;
	margin:0px auto 0px auto;
} 
 

.padL{
	padding-left:10px;	
}

div{
	width:100%;	
} 

.txalc{
	text-align:center;
}

.mrgB{
	margin-bottom:20px;	
}

label{
	width:30%;	
	display:inline-block;
	border-radius:15px;
	text-align:right;
	padding-right:10px;
}

input,textarea{
	width: 60%;
    border-radius: 5px;
    border: 1px solid gray;
    height: 25px;	
}
 

.opns{
	padding:20px;
	background-color:#EBEBEB;	
}

.opns div{
	border-bottom:1px solid gray;
	padding:10px;	
}

input[type="button"]{
    height: 30px;
	max-width:150px;
	margin-bottom:20px;	
}
 

.fl{
	float:left;	
}

.divMasterClass div{
	margin-bottom:10px;
}
 